*{
    margin: 0%;
    padding: 0%;
    font-family: "Arial", sans-serif;}

header{
    width: 100%;
    height: 100vh;
}
header .layout{
    width: 100%;
    height: 100%;
    background-color: #d6f4f1;
}
header nav{
    background-color: rgba(245, 245, 245, 0.767);
    display: flex;
    justify-content: space-between;
}
header nav div img{
    width: 35%;
    padding: 15px;
}
header nav div ul{
    list-style: none;
    display: flex;
    padding: 10px;
    

}
header nav div ul li{
    padding: 5px;

}
header nav div ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.452);
    padding: 10px;
    font-size: 20px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
padding-top: 100Px;
}
section .container{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}
.left-section, .right-section{
    width: 50%;
padding: 10px;
}



.left-section div label{ 
font-size: 20px;    
}
.left-section div .input-custom{
    width: 70%;
    font-size: larger;
    background-color: rgba(128, 128, 128, 0.1);
    text-align: end;
  padding: 10px;
border-style: none; 
outline-color:#26c0abb0 ;

}
.icon-left{
    color: grey;
    position: absolute;
    padding: 10px;
    font-size: larger;
}


.tip-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 25%;
    

}
    
.left-section div button{
    background-color: rgba(0,71,75,255);
    border-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
padding: 20px;
border-radius:15px ;
}

.left-section div button:hover{
    background-color: #26c0ab;
}

.left-section div .unique-custom{
    background-color: rgba(128, 128, 128, 0.1);
    color: rgba(128, 128, 128, 0.7);
}



.left-section div .input-custom2{
    width: 70%;
    font-size: larger;
    background-color: rgba(128, 128, 128, 0.1);
    text-align: end;
  padding: 10px;
border-style: none; 
outline-color:#26c0abb0 ;


}
.icon-left2{
    color: grey;
    position: absolute;
    padding: 10px;
    font-size: larger;
}
.Select-Tip{
    padding-top: 15px;
}

.right-section{
    background-color: #00494d;
    border-radius: 10px;
    color: #26c0ab;
    padding: 40px;
}
.tip-amount, .total{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.right-section p{
    color: white;
}
.right-section span{
    color: gray;
}
.right-section h1{
font-size: 40px;
}
.reset{
    width: 100%;
    font-size: 20px;
    background-color: #26c0ab2d;
    cursor: pointer;
color: #00494d;
    border-style: none;
    border-radius: 2px;
    padding: 10px;
    margin-top: 50px;
}
.reset:hover{
    background-color: #9fe8df;
}